@import '../../assets/scss/variables';

#NavigationSide {
  background-color: #FFF;
  box-shadow: 2px 0 6px rgba($formBg, 1);
  display: flex;
  height: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;

  .nav {
    flex-direction: column;

    .nav-link {
      color: $textDark;

      &.active {
        color: $primary;
      }
    }
  }
}